<form action="<%= @sign_action.to_s %>" method="POST">
  <input type="text" name="mail" class="form-control">
  <input type="password" name="password" class="form-control">
  <input type="submit" value="<%= @sign_submit_text.to_s %>" class="form-control">
</form>
